body
{
	background: grey;
}

li
{
	border: 1px solid orange;
	color: white;
}

#special
{
	color: red;
	background-color: yellow;
}

.first
{
	background-color: black;
	text-decoration: line-through;
}


